@use '../abstracts/colors' as clr;
@use '../abstracts/media-queries' as mq;

.auth-header {
  width: 100%;
  border-bottom: 1px solid map-get(clr.$neutral, '300');
  padding: 1rem;
  margin-bottom: 1rem;

  @include mq.md {
    padding: 2.5rem 0 1rem;
    margin-bottom: 3rem;
  }

  .brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.6rem;

    @include mq.md {
      padding-bottom: 1.2rem;
    }
  }

  .brand-logo {
    fill: black;
    width: unset;
    height: 42px;

    &:hover {
      fill: black;
    }

    @include mq.md {
      height: 56px;
    }
  }
}
