@use '../abstracts/media-queries' as mq;

// Narrows the site width and horizontally centers content
.container {
  width: 100%;
  max-width: 750px;
  margin-inline: auto;

  @include mq.lg {
    max-width: 970px;
  }

  @include mq.xl {
    max-width: 1170px;
  }
}
