@use '../abstracts/colors' as clr;

$divider-line: map-get(clr.$neutral, '300');

hr.divider {
  border: 0;
  background-color: $divider-line;
  height: 2px;
  margin: 2rem 0;
}

.divider-with-text {
  position: relative;
  color: map-get(clr.$neutral, '700');
  font-weight: 700;
  margin: 2rem 0;
  width: 100%;

  display: flex;
  gap: 2rem;

  // Divider lines
  &::before,
  &::after {
    content: '';
    background-color: $divider-line;
    height: 2px;
    flex: 0 1 100%;
    transform: translateY(1rem);
  }
}
