$divider-line: #d9dadc;

hr.divider {
  border: 0;
  background-color: $divider-line;
  height: 2px;
  margin: 2rem 0;
}

.divider-with-text {
  position: relative;
  color: #6a6a6a;
  font-weight: 700;
  margin: 2rem 0;
  width: 100%;

  display: flex;
  gap: 2rem;

  &::before,
  &::after {
    content: '';
    background-color: #d9dadc;
    height: 2px;
    flex: 0 1 100%;
    transform: translateY(1rem);
  }
}
