@use '../variables' as var;

// Pill shaped button
@mixin pill-button {
  background-color: white;
  color: black;
  padding: 1.4rem 3.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
  cursor: pointer;
  transition: 0.25s ease;
}

@mixin pill-button-focus {
  outline: 3px solid black;
  outline-offset: 2px;
}

// Form Input Group
.form-input-group {
  margin-bottom: 0.6rem;
}

// Form Input Label
.form-input-label {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
}

// Text Form Input
.form-input {
  display: block;
  padding: 1rem;
  border-radius: 4px;
  //   border: 1px solid #afafaf;
  border: 1px solid #878787;
  width: 100%;

  &:hover {
    border: 1px solid black;
  }

  &:focus {
    outline-width: 4px;
  }
}

// Select with custom arrow icon
.custom-select {
  position: relative;

  select {
    @extend .form-input;
    appearance: none;
    padding-right: 4.4rem;
  }

  .select-down-arrow {
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    pointer-events: none;
  }
}

// Date of Birth Input
.dob-input {
  &-container {
    display: flex;
    gap: 2rem;
  }

  .form-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .dob-label {
      font-size: 1.4rem;
      font-weight: 500;
    }

    &.dob-day {
      flex: 0 1 20%;
    }
    &.dob-month {
      flex: 0 1 55%;
    }
    &.dob-year {
      flex: 0 1 25%;
    }
  }
}

// Checkbox
.labelled-checkbox {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1rem;

  label {
    font-size: 1.4rem;
    font-weight: 500;
  }

  // Custom checkbox styles
  input[type='checkbox'] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #878787;
    border-radius: 0.3rem;
    align-self: flex-start;
    margin-top: 0.4rem;
    &:hover {
      border: 1px solid #169b45;
    }
    &:focus {
      outline-offset: 0.4rem;
    }
    &:checked {
      background-color: #169b45;
      border-color: #169b45;
    }
  }

  // Custom check mark
  input[type='checkbox']::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 9px;
    border-color: white;
    border-left-width: 2px;
    border-left-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transform-origin: center;
    transform: rotate(-48deg) translate(-50%, -50%);
    bottom: 50%;
    left: 50%;
    display: none;
  }

  input[type='checkbox']:checked::after {
    display: block;
  }
}
