@use '../variables' as var;
@use '../media-queries' as mq;
@use '../components/inputs' as *;

main.login {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
}

.alt-login-methods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.login-btn {
  $breakpoint-sm: map-get(mq.$breakpoints, 'sm');

  @include pill-button;
  width: 100%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  // Hide icon on small screens
  @include mq.max-width($breakpoint-sm) {
    svg {
      display: none;
    }
  }

  &.login-facebook {
    background-color: #3b5998;
    color: white;

    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: white;
      }
    }
  }
  &.login-apple {
    background-color: black;
    color: white;
    padding: 0.5rem;

    svg path {
      fill: white;
    }

    @include mq.max-width($breakpoint-sm) {
      padding: 1.4rem 3.2rem;
    }
  }

  &.login-google svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  &.login-google,
  &.redirect-to-signup {
    border: 1px solid #6a6a6a;
    color: #6a6a6a;
  }

  &.login-traditional {
    background-color: map-get(var.$colors, 'primary');
  }

  &:focus {
    @include pill-button-focus;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-actions {
    .forgot-password {
      margin-bottom: 1rem;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: darken(map-get(var.$colors, 'primary'), 15%);
        }
      }
    }

    .labelled-checkbox {
      margin-bottom: 1rem;

      label {
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 0.6rem;
      }
    }

    // Display grouped-actions in single row
    @include mq.md {
      .grouped-actions {
        display: flex;
        justify-content: space-between;

        .login-traditional {
          width: auto;
        }
      }
    }
  }
}

.signup-prompt {
  p {
    text-align: center;
    margin: 3rem 0 2rem;
    font-weight: 700;
  }
}
