// Color Palette
$primary-light: #19e68c;
$primary: #1ed760;
$primary-dark: #169b45;
$accent: #2941ab;
$accent-light: #2e77d0;
// Range of neutral colors from off-white to dark-gray
$neutral: (
  '100': #f9f9f9,
  '200': #eee,
  '300': #d1d1d1,
  '400': #b9b9b9,
  '500': #a7a7a7,
  '600': #878787,
  '700': #6a6a6a,
  '800': #222326,
  '900': #181a1b,
);

// Named with: https://chir.ag/projects/name-that-color
$rock-blue: #a5bbd1;
$cornflower-blue: #4e8ff5;
$chambray-blue: #3b5998;
$biscay: #1c2965;
